@charset "UTF-8";
/* =============== Mixin =================*/
/* line 1, ../sass/_swiper.scss */
.swiper-container, .swiper-container-glass, .swiper-container-banner, .swiper-container-new, .swiper-container-trending {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
/* line 2, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet, .swiper-container-glass .swiper-pagination-bullet, .swiper-container-banner .swiper-pagination-bullet, .swiper-container-new .swiper-pagination-bullet, .swiper-container-trending .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FFF;
}
/* line 7, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet-active, .swiper-container-glass .swiper-pagination-bullet-active, .swiper-container-banner .swiper-pagination-bullet-active, .swiper-container-new .swiper-pagination-bullet-active, .swiper-container-trending .swiper-pagination-bullet-active {
  background: #FFF;
}
/* line 16, ../sass/_swiper.scss */
.swiper-container .swiper-button-prev, .swiper-container .swiper-container-rtl .swiper-button-next,
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev, .swiper-container-glass .swiper-button-prev, .swiper-container-glass .swiper-container-rtl .swiper-button-next,
.swiper-container-glass .swiper-button-next, .swiper-container-glass .swiper-container-rtl .swiper-button-prev, .swiper-container-banner .swiper-button-prev, .swiper-container-banner .swiper-container-rtl .swiper-button-next,
.swiper-container-banner .swiper-button-next, .swiper-container-banner .swiper-container-rtl .swiper-button-prev, .swiper-container-new .swiper-button-prev, .swiper-container-new .swiper-container-rtl .swiper-button-next,
.swiper-container-new .swiper-button-next, .swiper-container-new .swiper-container-rtl .swiper-button-prev, .swiper-container-trending .swiper-button-prev, .swiper-container-trending .swiper-container-rtl .swiper-button-next,
.swiper-container-trending .swiper-button-next, .swiper-container-trending .swiper-container-rtl .swiper-button-prev {
  background-image: none;
}
/* line 20, ../sass/_swiper.scss */
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev, .swiper-container-glass .swiper-button-next, .swiper-container-glass .swiper-container-rtl .swiper-button-prev, .swiper-container-banner .swiper-button-next, .swiper-container-banner .swiper-container-rtl .swiper-button-prev, .swiper-container-new .swiper-button-next, .swiper-container-new .swiper-container-rtl .swiper-button-prev, .swiper-container-trending .swiper-button-next, .swiper-container-trending .swiper-container-rtl .swiper-button-prev {
  right: 25px;
}
/* line 23, ../sass/_swiper.scss */
.swiper-container .glyphicon, .swiper-container-glass .glyphicon, .swiper-container-banner .glyphicon, .swiper-container-new .glyphicon, .swiper-container-trending .glyphicon {
  color: #FFF;
  font-size: 40px;
  opacity: .5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 28, ../sass/_swiper.scss */
.swiper-container .glyphicon:hover, .swiper-container-glass .glyphicon:hover, .swiper-container-banner .glyphicon:hover, .swiper-container-new .glyphicon:hover, .swiper-container-trending .glyphicon:hover {
  opacity: 1;
}

/* line 33, ../sass/_swiper.scss */
.swiper-container-banner {
  height: 400px;
}

/* line 36, ../sass/_swiper.scss */
.swiper-container-new, .swiper-container-trending {
  height: 302px;
}
/* line 38, ../sass/_swiper.scss */
.swiper-container-new .swiper-slide, .swiper-container-trending .swiper-slide {
  border-radius: 12px;
}

/* line 42, ../sass/_swiper.scss */
.arrivals_right, .arrivals_left, .trending_right, .trending_left {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #4a4a4a;
  cursor: pointer;
  opacity: .5;
}

/* line 50, ../sass/_swiper.scss */
.arrivals_right, .trending_right {
  right: 10px;
}

/* line 53, ../sass/_swiper.scss */
.arrivals_left, .trending_left {
  left: 10px;
}

/* line 56, ../sass/_swiper.scss */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  position: relative;
  text-decoration: none !important;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 80, ../sass/_swiper.scss */
.swiper-slide:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  border-radius: 12px;
}
/* line 91, ../sass/_swiper.scss */
.swiper-slide:hover:after {
  -moz-animation: fadeIn_5 0.5s forwards;
  -webkit-animation: fadeIn_5 0.5s forwards;
  animation: fadeIn_5 0.5s forwards;
}
/* line 94, ../sass/_swiper.scss */
.swiper-slide:hover h2 {
  -moz-animation: fadeIn_10 0.5s forwards;
  -webkit-animation: fadeIn_10 0.5s forwards;
  animation: fadeIn_10 0.5s forwards;
}

/* line 100, ../sass/_swiper.scss */
.slider_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 105, ../sass/_swiper.scss */
.slider_img.slider01 {
  background-image: url("../images/sliders/slider01_1440.jpg");
}
/* line 108, ../sass/_swiper.scss */
.slider_img.slider02 {
  background-image: url("../images/sliders/slider02_1440.jpg");
}
/* line 111, ../sass/_swiper.scss */
.slider_img.slider03 {
  background-image: url("../images/sliders/slider03_1440.jpg");
}
/* line 114, ../sass/_swiper.scss */
.slider_img.slider04 {
  background-image: url("../images/sliders/slider04_1440.jpg");
}
/* line 117, ../sass/_swiper.scss */
.slider_img.slider05 {
  background-image: url("../images/sliders/slider05_1440.jpg");
}
/* line 120, ../sass/_swiper.scss */
.slider_img.slider06 {
  background-image: url("../images/sliders/slider06_1440.jpg");
}
/* line 123, ../sass/_swiper.scss */
.slider_img.slider07 {
  background-image: url("../images/sliders/slider07_1440.jpg");
}
/* line 126, ../sass/_swiper.scss */
.slider_img.slider08 {
  background-image: url("../images/sliders/slider08_1440.jpg");
}
/* line 129, ../sass/_swiper.scss */
.slider_img.banner01 {
  background-image: url("../images/banner/01.png");
}
/* line 130, ../sass/_swiper.scss */
.slider_img.banner02 {
  background-image: url("../images/banner/02.png");
}
/* line 131, ../sass/_swiper.scss */
.slider_img.banner03 {
  background-image: url("../images/banner/03.png");
}
/* line 132, ../sass/_swiper.scss */
.slider_img.banner04 {
  background-image: url("../images/banner/04.png");
}
/* line 133, ../sass/_swiper.scss */
.slider_img.banner05 {
  background-image: url("../images/banner/05.png");
}
/* line 134, ../sass/_swiper.scss */
.slider_img.banner06 {
  background-image: url("../images/banner/06.png");
}
/* line 135, ../sass/_swiper.scss */
.slider_img.banner07 {
  background-image: url("../images/banner/07.png");
}
/* line 136, ../sass/_swiper.scss */
.slider_img.banner08 {
  background-image: url("../images/banner/08.png");
}
/* line 138, ../sass/_swiper.scss */
.slider_img.poster01 {
  background-image: url("../images/poster/01.png");
}
/* line 139, ../sass/_swiper.scss */
.slider_img.poster02 {
  background-image: url("../images/poster/02.png");
}
/* line 140, ../sass/_swiper.scss */
.slider_img.poster03 {
  background-image: url("../images/poster/03.png");
}
/* line 141, ../sass/_swiper.scss */
.slider_img.poster04 {
  background-image: url("../images/poster/04.png");
}
/* line 142, ../sass/_swiper.scss */
.slider_img.poster05 {
  background-image: url("../images/poster/05.png");
}
/* line 143, ../sass/_swiper.scss */
.slider_img.poster06 {
  background-image: url("../images/poster/06.png");
}
/* line 144, ../sass/_swiper.scss */
.slider_img.poster07 {
  background-image: url("../images/poster/07.png");
}
/* line 145, ../sass/_swiper.scss */
.slider_img.poster08 {
  background-image: url("../images/poster/08.png");
}
/* line 146, ../sass/_swiper.scss */
.slider_img.poster09 {
  background-image: url("../images/poster/09.png");
}
/* line 147, ../sass/_swiper.scss */
.slider_img.poster10 {
  background-image: url("../images/poster/10.png");
}
/* line 148, ../sass/_swiper.scss */
.slider_img.poster11 {
  background-image: url("../images/poster/11.png");
}
/* line 149, ../sass/_swiper.scss */
.slider_img.poster12 {
  background-image: url("../images/poster/12.png");
}
/* line 150, ../sass/_swiper.scss */
.slider_img.poster13 {
  background-image: url("../images/poster/13.png");
}
/* line 151, ../sass/_swiper.scss */
.slider_img.poster14 {
  background-image: url("../images/poster/14.png");
}
/* line 152, ../sass/_swiper.scss */
.slider_img.poster15 {
  background-image: url("../images/poster/15.png");
}

/* line 155, ../sass/_swiper.scss */
.swiper-slide img {
  position: absolute;
  height: auto;
  top: 0;
  left: 100%;
  margin-left: -768px;
}
@media screen and (min-width: 992px) {
  /* line 155, ../sass/_swiper.scss */
  .swiper-slide img {
    left: 50%;
    margin-left: -960px;
  }
}

/* line 166, ../sass/_swiper.scss */
.swiper-slide h2 {
  z-index: 2;
  opacity: 0;
  color: #FFF;
  text-decoration: none;
  padding: 0 20px;
}

/* line 173, ../sass/_swiper.scss */
.swiper-slide h4 {
  position: absolute;
  z-index: 2;
  bottom: -30px;
  margin: auto;
  width: 180px;
  height: 20px;
  color: #4a4a4a;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}

/* line 185, ../sass/_swiper.scss */
.swiper-container-glass {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

/* line 1, ../sass/_card.scss */
.card {
  display: block;
  position: relative;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}
/* line 9, ../sass/_card.scss */
.card:hover .card_infor_title {
  color: #1a5687;
}
/* line 13, ../sass/_card.scss */
.card .card_img {
  width: 100%;
  min-height: 226px;
  background: #164872 center center no-repeat;
  overflow: hidden;
}
/* line 18, ../sass/_card.scss */
.card .card_img img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 180px;
  }
}
@media screen and (min-width: 992px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 238px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 188px;
  }
}
/* line 32, ../sass/_card.scss */
.card .card_infor {
  padding: 20px 10px 40px;
}
/* line 34, ../sass/_card.scss */
.card .card_infor .card_infor_title {
  height: 70px;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 42, ../sass/_card.scss */
.card .card_infor p {
  color: #444;
  font-size: .9rem;
  line-height: 1.5rem;
}
/* line 48, ../sass/_card.scss */
.card .card_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 54, ../sass/_card.scss */
.card .card_btn a {
  display: block;
  height: 48px;
  background: linear-gradient(to right, #1a5687, #1a5687);
  color: #FFF;
  font-weight: 700;
  line-height: 48px;
}
/* line 61, ../sass/_card.scss */
.card .card_btn a:hover {
  background: linear-gradient(to right, #1a5687, #1a5687);
}
/* line 64, ../sass/_card.scss */
.card .card_btn a.unSign {
  color: #444;
  background: linear-gradient(to right, #1a5687, #1a5687);
}

/* line 1, ../sass/_nav.scss */
.navbar {
  min-height: 70px;
  margin-bottom: 0;
}

/* line 5, ../sass/_nav.scss */
.navbar-default {
  background-image: linear-gradient(to bottom, #ffffff, #cfcfcf);
  border: none;
}

/* line 9, ../sass/_nav.scss */
.navbar-nav > li > a {
  line-height: 40px;
}

/* line 12, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: #4a4a4a;
}
/* line 14, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a.opacity {
  opacity: .5;
}

/* line 18, ../sass/_nav.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  opacity: 1 !important;
  background-image: linear-gradient(to top, #cbcbcb, #9b9b9b);
}
/* line 21, ../sass/_nav.scss */
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #4a90e2;
}

/* line 32, ../sass/_nav.scss */
.navbar-default .navbar-brand {
  color: #4a4a4a;
}

/* line 35, ../sass/_nav.scss */
.navbar-brand {
  height: 70px;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

/* line 28, ../sass/list.scss */
* {
  box-sizing: border-box;
  font-family: "Helvetica", "微軟正黑體", Arial, Helvetica, sans-serif;
}

/* line 32, ../sass/list.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #FFF;
}

/* line 37, ../sass/list.scss */
body {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
}

/* line 42, ../sass/list.scss */
p {
  margin: 0;
}

/* line 45, ../sass/list.scss */
h2 {
  text-decoration: none;
}

/* line 51, ../sass/list.scss */
.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
}
/* line 58, ../sass/list.scss */
.horizontal.divider.style {
  font-size: 18px;
  color: #FFF;
  padding: 10px 0;
}
/* line 63, ../sass/list.scss */
.horizontal.divider:before, .horizontal.divider:after {
  content: ' ';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url("../images/line.png");
}
/* line 72, ../sass/list.scss */
.horizontal.divider:before {
  background-position: right 1em top 50%;
}
/* line 75, ../sass/list.scss */
.horizontal.divider:after {
  background-position: left 1em top 50%;
}

/* line 81, ../sass/list.scss */
.clearfix:after, .content .recommendations .mov_view:after {
  content: ' ';
  display: block;
  clear: both;
}

/* line 88, ../sass/list.scss */
.hovereffect {
  -moz-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -webkit-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}
/* line 91, ../sass/list.scss */
.hovereffect:hover {
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .6;
  }
}
@keyframes fadeIn_5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes fadeIn_10 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 113, ../sass/list.scss */
.warp {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  background-size: cover;
  -webkit-backdrop-filter: blur(3.2px);
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 123, ../sass/list.scss */
.overhide {
  position: relative;
  overflow: hidden;
}

/* line 127, ../sass/list.scss */
.slider_range {
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 100px;
}

/* line 135, ../sass/list.scss */
.screen {
  position: relative;
  width: 100%;
  height: 400px;
  background: #000;
  overflow: hidden;
}
/* line 141, ../sass/list.scss */
.screen video {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 400px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 151, ../sass/list.scss */
.content {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 155, ../sass/list.scss */
.content .left {
  float: left;
  display: block;
  min-height: 550px;
  padding: 0 36px;
  margin-right: 350px;
}
/* line 161, ../sass/list.scss */
.content .left .movieBuy {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
  border-bottom: solid 1px #b4b4b4;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  /* line 161, ../sass/list.scss */
  .content .left .movieBuy {
    height: 80px;
    padding-bottom: 0;
  }
}
/* line 171, ../sass/list.scss */
.content .left .movieBuy > * {
  display: inline-block;
  line-height: 80px;
  padding: 0;
  margin: 0;
  border: none;
}
@media screen and (min-width: 1200px) {
  /* line 171, ../sass/list.scss */
  .content .left .movieBuy > * {
    float: left;
  }
}
/* line 181, ../sass/list.scss */
.content .left .movieBuy .movie_name {
  display: block;
  width: calc(100% - 430px);
  max-width: 530px;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 15px;
  line-height: 60px;
}
@media screen and (min-width: 1200px) {
  /* line 181, ../sass/list.scss */
  .content .left .movieBuy .movie_name {
    line-height: 80px;
  }
}
/* line 193, ../sass/list.scss */
.content .left .movieBuy #buy {
  position: relative;
  top: 0;
  width: 250px;
  height: 50px;
  color: #FFF;
  background: #4a90e2;
  font-size: 20px;
  line-height: 24px;
  margin-top: 15px;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -moz-box-shadow: 0px 0px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 0px 0px 0px #1b5dab;
  box-shadow: 0px 0px 0px 0px #1b5dab;
}
/* line 205, ../sass/list.scss */
.content .left .movieBuy #buy:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 6px 0px 0px #1b5dab;
  box-shadow: 0px 6px 0px 0px #1b5dab;
}
/* line 210, ../sass/list.scss */
.content .left .movieBuy .stars {
  width: 160px;
  text-align: center;
  margin-right: 30px;
}
/* line 214, ../sass/list.scss */
.content .left .movieBuy .stars .rating-xs {
  font-size: 1.4em;
}
/* line 220, ../sass/list.scss */
.content .left .overview {
  border-bottom: solid 1px #b4b4b4;
  padding-bottom: 14px;
}
/* line 223, ../sass/list.scss */
.content .left .overview .title {
  color: #4a4a4a;
  font-size: 36px;
}
/* line 227, ../sass/list.scss */
.content .left .overview .read {
  float: right;
  display: inline-block;
}
/* line 231, ../sass/list.scss */
.content .left .overview .txt {
  display: block;
  position: relative;
  color: #262626;
  font-size: 20px;
  height: 180px;
  overflow: hidden;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 239, ../sass/list.scss */
.content .left .overview .txt:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}
/* line 249, ../sass/list.scss */
.content .left .overview .txt.active {
  height: auto;
  padding-bottom: 50px;
}
/* line 252, ../sass/list.scss */
.content .left .overview .txt.active:after {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
/* line 259, ../sass/list.scss */
.content .recommendations {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  min-height: 550px;
  background: #f0f0f0;
  padding: 30px 20px;
}
/* line 267, ../sass/list.scss */
.content .recommendations .title {
  font-size: 24px;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #b4b4b4;
}
/* line 276, ../sass/list.scss */
.content .recommendations .mov_view {
  margin-bottom: 16px;
}
/* line 279, ../sass/list.scss */
.content .recommendations .mov_view .mov_img {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background: #000;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 287, ../sass/list.scss */
.content .recommendations .mov_view .mov_img img {
  width: 100%;
  height: auto;
}
/* line 292, ../sass/list.scss */
.content .recommendations .mov_view .mov_img:hover:after {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  z-index: 3;
}
/* line 300, ../sass/list.scss */
.content .recommendations .mov_view .mov_img:after, .content .recommendations .mov_view .mov_img:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 307, ../sass/list.scss */
.content .recommendations .mov_view .mov_img:after {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  z-index: 3;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 315, ../sass/list.scss */
.content .recommendations .mov_view .mov_img:before {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: url("../images/icon/play-1001.svg") no-repeat center center;
  z-index: 5;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 326, ../sass/list.scss */
.content .recommendations .mov_view .movie_name {
  display: block;
  float: left;
  font-size: 20px;
  color: #575757;
  margin: 0;
  padding: 0;
}
/* line 334, ../sass/list.scss */
.content .recommendations .mov_view .stars {
  float: right;
}
/* line 337, ../sass/list.scss */
.content .recommendations .mov_view .rating-xs {
  font-size: .8em;
}
