@charset "UTF-8";
/* =============== Mixin =================*/
/* line 1, ../sass/_swiper.scss */
.swiper-container, .swiper-container-glass, .swiper-container-banner, .swiper-container-new, .swiper-container-trending {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
/* line 2, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet, .swiper-container-glass .swiper-pagination-bullet, .swiper-container-banner .swiper-pagination-bullet, .swiper-container-new .swiper-pagination-bullet, .swiper-container-trending .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FFF;
}
/* line 7, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet-active, .swiper-container-glass .swiper-pagination-bullet-active, .swiper-container-banner .swiper-pagination-bullet-active, .swiper-container-new .swiper-pagination-bullet-active, .swiper-container-trending .swiper-pagination-bullet-active {
  background: #FFF;
}
/* line 16, ../sass/_swiper.scss */
.swiper-container .swiper-button-prev, .swiper-container .swiper-container-rtl .swiper-button-next,
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev, .swiper-container-glass .swiper-button-prev, .swiper-container-glass .swiper-container-rtl .swiper-button-next,
.swiper-container-glass .swiper-button-next, .swiper-container-glass .swiper-container-rtl .swiper-button-prev, .swiper-container-banner .swiper-button-prev, .swiper-container-banner .swiper-container-rtl .swiper-button-next,
.swiper-container-banner .swiper-button-next, .swiper-container-banner .swiper-container-rtl .swiper-button-prev, .swiper-container-new .swiper-button-prev, .swiper-container-new .swiper-container-rtl .swiper-button-next,
.swiper-container-new .swiper-button-next, .swiper-container-new .swiper-container-rtl .swiper-button-prev, .swiper-container-trending .swiper-button-prev, .swiper-container-trending .swiper-container-rtl .swiper-button-next,
.swiper-container-trending .swiper-button-next, .swiper-container-trending .swiper-container-rtl .swiper-button-prev {
  background-image: none;
}
/* line 20, ../sass/_swiper.scss */
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev, .swiper-container-glass .swiper-button-next, .swiper-container-glass .swiper-container-rtl .swiper-button-prev, .swiper-container-banner .swiper-button-next, .swiper-container-banner .swiper-container-rtl .swiper-button-prev, .swiper-container-new .swiper-button-next, .swiper-container-new .swiper-container-rtl .swiper-button-prev, .swiper-container-trending .swiper-button-next, .swiper-container-trending .swiper-container-rtl .swiper-button-prev {
  right: 25px;
}
/* line 23, ../sass/_swiper.scss */
.swiper-container .glyphicon, .swiper-container-glass .glyphicon, .swiper-container-banner .glyphicon, .swiper-container-new .glyphicon, .swiper-container-trending .glyphicon {
  color: #FFF;
  font-size: 40px;
  opacity: .5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 28, ../sass/_swiper.scss */
.swiper-container .glyphicon:hover, .swiper-container-glass .glyphicon:hover, .swiper-container-banner .glyphicon:hover, .swiper-container-new .glyphicon:hover, .swiper-container-trending .glyphicon:hover {
  opacity: 1;
}

/* line 33, ../sass/_swiper.scss */
.swiper-container-banner {
  height: 400px;
}

/* line 36, ../sass/_swiper.scss */
.swiper-container-new, .swiper-container-trending {
  height: 322px;
}
/* line 38, ../sass/_swiper.scss */
.swiper-container-new .swiper-slide, .swiper-container-trending .swiper-slide {
  border-radius: 5px;
}

/* line 42, ../sass/_swiper.scss */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 65, ../sass/_swiper.scss */
.slider_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 70, ../sass/_swiper.scss */
.slider_img.slider01 {
  background-image: url("../images/sliders/slider01_1440.jpg");
}
/* line 73, ../sass/_swiper.scss */
.slider_img.slider02 {
  background-image: url("../images/sliders/slider02_1440.jpg");
}
/* line 76, ../sass/_swiper.scss */
.slider_img.slider03 {
  background-image: url("../images/sliders/slider03_1440.jpg");
}
/* line 79, ../sass/_swiper.scss */
.slider_img.slider04 {
  background-image: url("../images/sliders/slider04_1440.jpg");
}
/* line 82, ../sass/_swiper.scss */
.slider_img.slider05 {
  background-image: url("../images/sliders/slider05_1440.jpg");
}
/* line 85, ../sass/_swiper.scss */
.slider_img.slider06 {
  background-image: url("../images/sliders/slider06_1440.jpg");
}
/* line 88, ../sass/_swiper.scss */
.slider_img.slider07 {
  background-image: url("../images/sliders/slider07_1440.jpg");
}
/* line 91, ../sass/_swiper.scss */
.slider_img.slider08 {
  background-image: url("../images/sliders/slider08_1440.jpg");
}

/* line 95, ../sass/_swiper.scss */
.swiper-slide img {
  position: absolute;
  height: auto;
  top: 0;
  left: 100%;
  margin-left: -768px;
}
@media screen and (min-width: 992px) {
  /* line 95, ../sass/_swiper.scss */
  .swiper-slide img {
    left: 50%;
    margin-left: -960px;
  }
}

/* line 106, ../sass/_swiper.scss */
.swiper-container-glass {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

/* line 1, ../sass/_card.scss */
.card {
  display: block;
  position: relative;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}
/* line 9, ../sass/_card.scss */
.card:hover .card_infor_title {
  color: #1a5687;
}
/* line 13, ../sass/_card.scss */
.card .card_img {
  width: 100%;
  min-height: 226px;
  background: #164872 center center no-repeat;
  overflow: hidden;
}
/* line 18, ../sass/_card.scss */
.card .card_img img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 180px;
  }
}
@media screen and (min-width: 992px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 238px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 188px;
  }
}
/* line 32, ../sass/_card.scss */
.card .card_infor {
  padding: 20px 10px 40px;
}
/* line 34, ../sass/_card.scss */
.card .card_infor .card_infor_title {
  height: 70px;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 42, ../sass/_card.scss */
.card .card_infor p {
  color: #444;
  font-size: .9rem;
  line-height: 1.5rem;
}
/* line 48, ../sass/_card.scss */
.card .card_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 54, ../sass/_card.scss */
.card .card_btn a {
  display: block;
  height: 48px;
  background: linear-gradient(to right, #1a5687, #1a5687);
  color: #FFF;
  font-weight: 700;
  line-height: 48px;
}
/* line 61, ../sass/_card.scss */
.card .card_btn a:hover {
  background: linear-gradient(to right, #1a5687, #1a5687);
}
/* line 64, ../sass/_card.scss */
.card .card_btn a.unSign {
  color: #444;
  background: linear-gradient(to right, #1a5687, #1a5687);
}

/* line 1, ../sass/_nav.scss */
.navbar {
  min-height: 70px;
  margin-bottom: 0;
}

/* line 5, ../sass/_nav.scss */
.navbar-default {
  background-image: linear-gradient(to bottom, #ffffff, #cfcfcf);
}

/* line 8, ../sass/_nav.scss */
.navbar-nav > li > a {
  line-height: 40px;
}

/* line 11, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: #4a4a4a;
}
/* line 13, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a.opacity {
  opacity: .5;
}

/* line 17, ../sass/_nav.scss */
.navbar-default .navbar-brand {
  color: #4a4a4a;
}

/* line 20, ../sass/_nav.scss */
.navbar-brand {
  height: 70px;
  font-size: 24px;
  line-height: 40px;
}

/* line 26, ../sass/list.scss */
* {
  box-sizing: border-box;
  font-family: "Helvetica", "微軟正黑體", Arial, Helvetica, sans-serif;
}

/* line 30, ../sass/list.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #FFF;
}

/* line 35, ../sass/list.scss */
body {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
}

/* line 40, ../sass/list.scss */
p {
  margin: 0;
}

/* line 43, ../sass/list.scss */
.overhide {
  overflow: hidden;
}

/* line 48, ../sass/list.scss */
.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
}
/* line 55, ../sass/list.scss */
.horizontal.divider.style {
  font-size: 18px;
  color: #FFF;
  padding: 10px 0;
}
/* line 60, ../sass/list.scss */
.horizontal.divider:before, .horizontal.divider:after {
  content: ' ';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url("../images/line.png");
}
/* line 69, ../sass/list.scss */
.horizontal.divider:before {
  background-position: right 1em top 50%;
}
/* line 72, ../sass/list.scss */
.horizontal.divider:after {
  background-position: left 1em top 50%;
}

/* line 78, ../sass/list.scss */
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

/* line 85, ../sass/list.scss */
.hovereffect {
  -moz-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -webkit-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}
/* line 88, ../sass/list.scss */
.hovereffect:hover {
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .6;
  }
}
/* line 101, ../sass/list.scss */
.warp {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-backdrop-filter: blur(3.2px);
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 111, ../sass/list.scss */
.form-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 446px;
  height: 562px;
  z-index: 5;
  padding: 30px 38px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  overflow: hidden;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 126, ../sass/list.scss */
.form-signin a, .form-signin p {
  color: #FFF;
}
/* line 129, ../sass/list.scss */
.form-signin.low {
  z-index: 3;
}
/* line 132, ../sass/list.scss */
.form-signin .logo {
  height: 59px;
  font-size: 48px;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
/* line 141, ../sass/list.scss */
.form-signin .form-group {
  position: relative;
  margin-bottom: 10px;
}
/* line 144, ../sass/list.scss */
.form-signin .form-group .user-icon {
  display: block;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 6px;
  opacity: .5;
}
/* line 153, ../sass/list.scss */
.form-signin .form-control {
  height: 50px;
  font-size: 18px;
  color: #FFF;
  border: none;
  margin-bottom: 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 160, ../sass/list.scss */
.form-signin .form-control.btn {
  position: relative;
  top: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 165, ../sass/list.scss */
.form-signin .form-control.fb {
  background-color: #5da8ff;
  -moz-box-shadow: 0px 0px 0px 0px #0072f6;
  -webkit-box-shadow: 0px 0px 0px 0px #0072f6;
  box-shadow: 0px 0px 0px 0px #0072f6;
}
/* line 168, ../sass/list.scss */
.form-signin .form-control.fb:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #0072f6;
  -webkit-box-shadow: 0px 6px 0px 0px #0072f6;
  box-shadow: 0px 6px 0px 0px #0072f6;
}
/* line 173, ../sass/list.scss */
.form-signin .form-control.google {
  background-color: #ff8896;
  -moz-box-shadow: 0px 0px 0px 0px #ff223c;
  -webkit-box-shadow: 0px 0px 0px 0px #ff223c;
  box-shadow: 0px 0px 0px 0px #ff223c;
}
/* line 176, ../sass/list.scss */
.form-signin .form-control.google:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #ff223c;
  -webkit-box-shadow: 0px 6px 0px 0px #ff223c;
  box-shadow: 0px 6px 0px 0px #ff223c;
}
/* line 181, ../sass/list.scss */
.form-signin .form-control.input {
  color: #444;
  border: solid 1px #b4b4b4;
  padding-left: 50px;
}
/* line 186, ../sass/list.scss */
.form-signin .form-control.login {
  background-color: #4a90e2;
  -moz-box-shadow: 0px 0px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 0px 0px 0px #1b5dab;
  box-shadow: 0px 0px 0px 0px #1b5dab;
}
/* line 189, ../sass/list.scss */
.form-signin .form-control.login:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 6px 0px 0px #1b5dab;
  box-shadow: 0px 6px 0px 0px #1b5dab;
}
/* line 196, ../sass/list.scss */
.form-signin .forgot a {
  font-size: 14px;
  letter-spacing: .5px;
  padding: 0 6px;
}
/* line 200, ../sass/list.scss */
.form-signin .forgot a:first-child {
  position: relative;
  padding-right: 10px;
}
/* line 203, ../sass/list.scss */
.form-signin .forgot a:first-child:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #FFF;
}
/* line 216, ../sass/list.scss */
.form-signin .join p {
  display: inline;
  letter-spacing: .5px;
}
/* line 220, ../sass/list.scss */
.form-signin .join a {
  font-size: 24px;
  font-weight: bold;
}
