@charset "UTF-8";
/* =============== Mixin =================*/
/* line 1, ../sass/_swiper.scss */
.swiper-container, .swiper-container-glass, .swiper-container-banner, .swiper-container-new, .swiper-container-trending {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
/* line 2, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet, .swiper-container-glass .swiper-pagination-bullet, .swiper-container-banner .swiper-pagination-bullet, .swiper-container-new .swiper-pagination-bullet, .swiper-container-trending .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FFF;
}
/* line 7, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet-active, .swiper-container-glass .swiper-pagination-bullet-active, .swiper-container-banner .swiper-pagination-bullet-active, .swiper-container-new .swiper-pagination-bullet-active, .swiper-container-trending .swiper-pagination-bullet-active {
  background: #FFF;
}
/* line 16, ../sass/_swiper.scss */
.swiper-container .swiper-button-prev, .swiper-container .swiper-container-rtl .swiper-button-next,
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev, .swiper-container-glass .swiper-button-prev, .swiper-container-glass .swiper-container-rtl .swiper-button-next,
.swiper-container-glass .swiper-button-next, .swiper-container-glass .swiper-container-rtl .swiper-button-prev, .swiper-container-banner .swiper-button-prev, .swiper-container-banner .swiper-container-rtl .swiper-button-next,
.swiper-container-banner .swiper-button-next, .swiper-container-banner .swiper-container-rtl .swiper-button-prev, .swiper-container-new .swiper-button-prev, .swiper-container-new .swiper-container-rtl .swiper-button-next,
.swiper-container-new .swiper-button-next, .swiper-container-new .swiper-container-rtl .swiper-button-prev, .swiper-container-trending .swiper-button-prev, .swiper-container-trending .swiper-container-rtl .swiper-button-next,
.swiper-container-trending .swiper-button-next, .swiper-container-trending .swiper-container-rtl .swiper-button-prev {
  background-image: none;
}
/* line 20, ../sass/_swiper.scss */
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev, .swiper-container-glass .swiper-button-next, .swiper-container-glass .swiper-container-rtl .swiper-button-prev, .swiper-container-banner .swiper-button-next, .swiper-container-banner .swiper-container-rtl .swiper-button-prev, .swiper-container-new .swiper-button-next, .swiper-container-new .swiper-container-rtl .swiper-button-prev, .swiper-container-trending .swiper-button-next, .swiper-container-trending .swiper-container-rtl .swiper-button-prev {
  right: 25px;
}
/* line 23, ../sass/_swiper.scss */
.swiper-container .glyphicon, .swiper-container-glass .glyphicon, .swiper-container-banner .glyphicon, .swiper-container-new .glyphicon, .swiper-container-trending .glyphicon {
  color: #FFF;
  font-size: 40px;
  opacity: .5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 28, ../sass/_swiper.scss */
.swiper-container .glyphicon:hover, .swiper-container-glass .glyphicon:hover, .swiper-container-banner .glyphicon:hover, .swiper-container-new .glyphicon:hover, .swiper-container-trending .glyphicon:hover {
  opacity: 1;
}

/* line 33, ../sass/_swiper.scss */
.swiper-container-banner {
  height: 400px;
}

/* line 36, ../sass/_swiper.scss */
.swiper-container-new, .swiper-container-trending {
  height: 302px;
}
/* line 38, ../sass/_swiper.scss */
.swiper-container-new .swiper-slide, .swiper-container-trending .swiper-slide {
  border-radius: 12px;
}

/* line 42, ../sass/_swiper.scss */
.arrivals_right, .arrivals_left, .trending_right, .trending_left {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #4a4a4a;
  cursor: pointer;
  opacity: .5;
}

/* line 50, ../sass/_swiper.scss */
.arrivals_right, .trending_right {
  right: 10px;
}

/* line 53, ../sass/_swiper.scss */
.arrivals_left, .trending_left {
  left: 10px;
}

/* line 56, ../sass/_swiper.scss */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  position: relative;
  text-decoration: none !important;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 80, ../sass/_swiper.scss */
.swiper-slide:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  border-radius: 12px;
}
/* line 91, ../sass/_swiper.scss */
.swiper-slide:hover:after {
  -moz-animation: fadeIn_5 0.5s forwards;
  -webkit-animation: fadeIn_5 0.5s forwards;
  animation: fadeIn_5 0.5s forwards;
}
/* line 94, ../sass/_swiper.scss */
.swiper-slide:hover h2 {
  -moz-animation: fadeIn_10 0.5s forwards;
  -webkit-animation: fadeIn_10 0.5s forwards;
  animation: fadeIn_10 0.5s forwards;
}

/* line 100, ../sass/_swiper.scss */
.slider_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 105, ../sass/_swiper.scss */
.slider_img.slider01 {
  background-image: url("../images/sliders/slider01_1440.jpg");
}
/* line 108, ../sass/_swiper.scss */
.slider_img.slider02 {
  background-image: url("../images/sliders/slider02_1440.jpg");
}
/* line 111, ../sass/_swiper.scss */
.slider_img.slider03 {
  background-image: url("../images/sliders/slider03_1440.jpg");
}
/* line 114, ../sass/_swiper.scss */
.slider_img.slider04 {
  background-image: url("../images/sliders/slider04_1440.jpg");
}
/* line 117, ../sass/_swiper.scss */
.slider_img.slider05 {
  background-image: url("../images/sliders/slider05_1440.jpg");
}
/* line 120, ../sass/_swiper.scss */
.slider_img.slider06 {
  background-image: url("../images/sliders/slider06_1440.jpg");
}
/* line 123, ../sass/_swiper.scss */
.slider_img.slider07 {
  background-image: url("../images/sliders/slider07_1440.jpg");
}
/* line 126, ../sass/_swiper.scss */
.slider_img.slider08 {
  background-image: url("../images/sliders/slider08_1440.jpg");
}
/* line 129, ../sass/_swiper.scss */
.slider_img.banner01 {
  background-image: url("../images/banner/01.png");
}
/* line 130, ../sass/_swiper.scss */
.slider_img.banner02 {
  background-image: url("../images/banner/02.png");
}
/* line 131, ../sass/_swiper.scss */
.slider_img.banner03 {
  background-image: url("../images/banner/03.png");
}
/* line 132, ../sass/_swiper.scss */
.slider_img.banner04 {
  background-image: url("../images/banner/04.png");
}
/* line 133, ../sass/_swiper.scss */
.slider_img.banner05 {
  background-image: url("../images/banner/05.png");
}
/* line 134, ../sass/_swiper.scss */
.slider_img.banner06 {
  background-image: url("../images/banner/06.png");
}
/* line 135, ../sass/_swiper.scss */
.slider_img.banner07 {
  background-image: url("../images/banner/07.png");
}
/* line 136, ../sass/_swiper.scss */
.slider_img.banner08 {
  background-image: url("../images/banner/08.png");
}
/* line 138, ../sass/_swiper.scss */
.slider_img.poster01 {
  background-image: url("../images/poster/01.png");
}
/* line 139, ../sass/_swiper.scss */
.slider_img.poster02 {
  background-image: url("../images/poster/02.png");
}
/* line 140, ../sass/_swiper.scss */
.slider_img.poster03 {
  background-image: url("../images/poster/03.png");
}
/* line 141, ../sass/_swiper.scss */
.slider_img.poster04 {
  background-image: url("../images/poster/04.png");
}
/* line 142, ../sass/_swiper.scss */
.slider_img.poster05 {
  background-image: url("../images/poster/05.png");
}
/* line 143, ../sass/_swiper.scss */
.slider_img.poster06 {
  background-image: url("../images/poster/06.png");
}
/* line 144, ../sass/_swiper.scss */
.slider_img.poster07 {
  background-image: url("../images/poster/07.png");
}
/* line 145, ../sass/_swiper.scss */
.slider_img.poster08 {
  background-image: url("../images/poster/08.png");
}
/* line 146, ../sass/_swiper.scss */
.slider_img.poster09 {
  background-image: url("../images/poster/09.png");
}
/* line 147, ../sass/_swiper.scss */
.slider_img.poster10 {
  background-image: url("../images/poster/10.png");
}
/* line 148, ../sass/_swiper.scss */
.slider_img.poster11 {
  background-image: url("../images/poster/11.png");
}
/* line 149, ../sass/_swiper.scss */
.slider_img.poster12 {
  background-image: url("../images/poster/12.png");
}
/* line 150, ../sass/_swiper.scss */
.slider_img.poster13 {
  background-image: url("../images/poster/13.png");
}
/* line 151, ../sass/_swiper.scss */
.slider_img.poster14 {
  background-image: url("../images/poster/14.png");
}
/* line 152, ../sass/_swiper.scss */
.slider_img.poster15 {
  background-image: url("../images/poster/15.png");
}

/* line 155, ../sass/_swiper.scss */
.swiper-slide img {
  position: absolute;
  height: auto;
  top: 0;
  left: 100%;
  margin-left: -768px;
}
@media screen and (min-width: 992px) {
  /* line 155, ../sass/_swiper.scss */
  .swiper-slide img {
    left: 50%;
    margin-left: -960px;
  }
}

/* line 166, ../sass/_swiper.scss */
.swiper-slide h2 {
  z-index: 2;
  opacity: 0;
  color: #FFF;
  text-decoration: none;
  padding: 0 20px;
}

/* line 173, ../sass/_swiper.scss */
.swiper-slide h4 {
  position: absolute;
  z-index: 2;
  bottom: -30px;
  margin: auto;
  width: 180px;
  height: 20px;
  color: #4a4a4a;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}

/* line 185, ../sass/_swiper.scss */
.swiper-container-glass {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

/* line 1, ../sass/_card.scss */
.card {
  display: block;
  position: relative;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}
/* line 9, ../sass/_card.scss */
.card:hover .card_infor_title {
  color: #1a5687;
}
/* line 13, ../sass/_card.scss */
.card .card_img {
  width: 100%;
  min-height: 226px;
  background: #164872 center center no-repeat;
  overflow: hidden;
}
/* line 18, ../sass/_card.scss */
.card .card_img img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 180px;
  }
}
@media screen and (min-width: 992px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 238px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 188px;
  }
}
/* line 32, ../sass/_card.scss */
.card .card_infor {
  padding: 20px 10px 40px;
}
/* line 34, ../sass/_card.scss */
.card .card_infor .card_infor_title {
  height: 70px;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 42, ../sass/_card.scss */
.card .card_infor p {
  color: #444;
  font-size: .9rem;
  line-height: 1.5rem;
}
/* line 48, ../sass/_card.scss */
.card .card_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 54, ../sass/_card.scss */
.card .card_btn a {
  display: block;
  height: 48px;
  background: linear-gradient(to right, #1a5687, #1a5687);
  color: #FFF;
  font-weight: 700;
  line-height: 48px;
}
/* line 61, ../sass/_card.scss */
.card .card_btn a:hover {
  background: linear-gradient(to right, #1a5687, #1a5687);
}
/* line 64, ../sass/_card.scss */
.card .card_btn a.unSign {
  color: #444;
  background: linear-gradient(to right, #1a5687, #1a5687);
}

/* line 25, ../sass/main.scss */
* {
  box-sizing: border-box;
  font-family: "Helvetica", "微軟正黑體", Arial, Helvetica, sans-serif;
}

/* line 29, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #000;
}

/* line 34, ../sass/main.scss */
body {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
}

/* line 39, ../sass/main.scss */
p {
  margin: 0;
}

/* line 44, ../sass/main.scss */
.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
}
/* line 51, ../sass/main.scss */
.horizontal.divider.style {
  font-size: 18px;
  color: #FFF;
  padding: 10px 0;
}
/* line 56, ../sass/main.scss */
.horizontal.divider:before, .horizontal.divider:after {
  content: ' ';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url("../images/line.png");
}
/* line 65, ../sass/main.scss */
.horizontal.divider:before {
  background-position: right 1em top 50%;
}
/* line 68, ../sass/main.scss */
.horizontal.divider:after {
  background-position: left 1em top 50%;
}

/* line 74, ../sass/main.scss */
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

/* line 81, ../sass/main.scss */
.hovereffect {
  -moz-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -webkit-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}
/* line 84, ../sass/main.scss */
.hovereffect:hover {
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .6;
  }
}
/* line 97, ../sass/main.scss */
.warp {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-backdrop-filter: blur(3.2px);
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 106, ../sass/main.scss */
.warp:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .6;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

/* line 121, ../sass/main.scss */
.form-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 446px;
  height: 562px;
  z-index: 5;
  padding: 30px 38px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  overflow: hidden;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 136, ../sass/main.scss */
.form-signin a, .form-signin p {
  color: #FFF;
}
/* line 139, ../sass/main.scss */
.form-signin.low {
  z-index: 3;
}
/* line 142, ../sass/main.scss */
.form-signin .logo {
  height: 59px;
  font-size: 48px;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
/* line 151, ../sass/main.scss */
.form-signin .form-group {
  position: relative;
  margin-bottom: 10px;
}
/* line 154, ../sass/main.scss */
.form-signin .form-group .user-icon {
  display: block;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 6px;
  opacity: .5;
}
/* line 163, ../sass/main.scss */
.form-signin .form-control {
  height: 50px;
  font-size: 18px;
  color: #FFF;
  border: none;
  margin-bottom: 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 170, ../sass/main.scss */
.form-signin .form-control.btn {
  position: relative;
  top: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 175, ../sass/main.scss */
.form-signin .form-control.fb {
  background-color: #5da8ff;
  -moz-box-shadow: 0px 0px 0px 0px #0072f6;
  -webkit-box-shadow: 0px 0px 0px 0px #0072f6;
  box-shadow: 0px 0px 0px 0px #0072f6;
}
/* line 178, ../sass/main.scss */
.form-signin .form-control.fb:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #0072f6;
  -webkit-box-shadow: 0px 6px 0px 0px #0072f6;
  box-shadow: 0px 6px 0px 0px #0072f6;
}
/* line 183, ../sass/main.scss */
.form-signin .form-control.google {
  background-color: #ff8896;
  -moz-box-shadow: 0px 0px 0px 0px #ff223c;
  -webkit-box-shadow: 0px 0px 0px 0px #ff223c;
  box-shadow: 0px 0px 0px 0px #ff223c;
}
/* line 186, ../sass/main.scss */
.form-signin .form-control.google:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #ff223c;
  -webkit-box-shadow: 0px 6px 0px 0px #ff223c;
  box-shadow: 0px 6px 0px 0px #ff223c;
}
/* line 191, ../sass/main.scss */
.form-signin .form-control.input {
  color: #444;
  border: solid 1px #b4b4b4;
  padding-left: 50px;
}
/* line 196, ../sass/main.scss */
.form-signin .form-control.login {
  background-color: #4a90e2;
  -moz-box-shadow: 0px 0px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 0px 0px 0px #1b5dab;
  box-shadow: 0px 0px 0px 0px #1b5dab;
}
/* line 199, ../sass/main.scss */
.form-signin .form-control.login:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 6px 0px 0px #1b5dab;
  box-shadow: 0px 6px 0px 0px #1b5dab;
}
/* line 206, ../sass/main.scss */
.form-signin .forgot a {
  font-size: 14px;
  letter-spacing: .5px;
  padding: 0 6px;
}
/* line 210, ../sass/main.scss */
.form-signin .forgot a:first-child {
  position: relative;
  padding-right: 10px;
}
/* line 213, ../sass/main.scss */
.form-signin .forgot a:first-child:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #FFF;
}
/* line 226, ../sass/main.scss */
.form-signin .join p {
  display: inline;
  letter-spacing: .5px;
}
/* line 230, ../sass/main.scss */
.form-signin .join a {
  font-size: 24px;
  font-weight: bold;
}
