@charset "UTF-8";
/* =============== Mixin =================*/
@import "https://fonts.googleapis.com/css?family=Open+Sans";
/* line 1, ../sass/_swiper.scss */
.swiper-container {
  position: relative;
  width: 100%;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
/* line 2, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FFF;
}
/* line 7, ../sass/_swiper.scss */
.swiper-container .swiper-pagination-bullet-active {
  background: #FFF;
}
/* line 16, ../sass/_swiper.scss */
.swiper-container .swiper-button-prev, .swiper-container .swiper-container-rtl .swiper-button-next,
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev {
  background-image: none;
}
/* line 20, ../sass/_swiper.scss */
.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev {
  right: 25px;
}
/* line 23, ../sass/_swiper.scss */
.swiper-container .glyphicon {
  color: #FFF;
  font-size: 40px;
  opacity: .5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 28, ../sass/_swiper.scss */
.swiper-container .glyphicon:hover {
  opacity: 1;
}

/* line 33, ../sass/_swiper.scss */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 56, ../sass/_swiper.scss */
.slider_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 60, ../sass/_swiper.scss */
.slider_img.slider01 {
  background-image: url("../images/sliders/slider_01_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 60, ../sass/_swiper.scss */
  .slider_img.slider01 {
    background-image: url("../images/sliders/slider_01.jpg");
  }
}
/* line 66, ../sass/_swiper.scss */
.slider_img.slider02 {
  background-image: url("../images/sliders/slider_02_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 66, ../sass/_swiper.scss */
  .slider_img.slider02 {
    background-image: url("../images/sliders/slider_02.jpg");
  }
}
/* line 72, ../sass/_swiper.scss */
.slider_img.slider03 {
  background-image: url("../images/sliders/slider_03_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 72, ../sass/_swiper.scss */
  .slider_img.slider03 {
    background-image: url("../images/sliders/slider_03.jpg");
  }
}
/* line 78, ../sass/_swiper.scss */
.slider_img.slider04 {
  background-image: url("../images/sliders/slider_04_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 78, ../sass/_swiper.scss */
  .slider_img.slider04 {
    background-image: url("../images/sliders/slider_04.jpg");
  }
}
/* line 84, ../sass/_swiper.scss */
.slider_img.slider05 {
  background-image: url("../images/sliders/slider_05_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 84, ../sass/_swiper.scss */
  .slider_img.slider05 {
    background-image: url("../images/sliders/slider_05.jpg");
  }
}
/* line 90, ../sass/_swiper.scss */
.slider_img.slider06 {
  background-image: url("../images/sliders/slider_06_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 90, ../sass/_swiper.scss */
  .slider_img.slider06 {
    background-image: url("../images/sliders/slider_06.jpg");
  }
}
/* line 96, ../sass/_swiper.scss */
.slider_img.slider07 {
  background-image: url("../images/sliders/slider_07_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 96, ../sass/_swiper.scss */
  .slider_img.slider07 {
    background-image: url("../images/sliders/slider_07.jpg");
  }
}
/* line 102, ../sass/_swiper.scss */
.slider_img.slider08 {
  background-image: url("../images/sliders/slider_08_768.jpg");
}
@media screen and (min-width: 992px) {
  /* line 102, ../sass/_swiper.scss */
  .slider_img.slider08 {
    background-image: url("../images/sliders/slider_08.jpg");
  }
}

/* line 109, ../sass/_swiper.scss */
.swiper-slide img {
  position: absolute;
  height: auto;
  top: 0;
  left: 100%;
  margin-left: -768px;
}
@media screen and (min-width: 992px) {
  /* line 109, ../sass/_swiper.scss */
  .swiper-slide img {
    left: 50%;
    margin-left: -960px;
  }
}

/* line 1, ../sass/_card.scss */
.card {
  display: block;
  position: relative;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}
/* line 9, ../sass/_card.scss */
.card:hover .card_infor_title {
  color: #1a5687;
}
/* line 13, ../sass/_card.scss */
.card .card_img {
  width: 100%;
  min-height: 226px;
  background: #164872 center center no-repeat;
  overflow: hidden;
}
/* line 18, ../sass/_card.scss */
.card .card_img img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 180px;
  }
}
@media screen and (min-width: 992px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 238px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 13, ../sass/_card.scss */
  .card .card_img {
    min-height: 188px;
  }
}
/* line 32, ../sass/_card.scss */
.card .card_infor {
  padding: 20px 10px 40px;
}
/* line 34, ../sass/_card.scss */
.card .card_infor .card_infor_title {
  height: 70px;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 42, ../sass/_card.scss */
.card .card_infor p {
  color: #444;
  font-size: .9rem;
  line-height: 1.5rem;
}
/* line 48, ../sass/_card.scss */
.card .card_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 54, ../sass/_card.scss */
.card .card_btn a {
  display: block;
  height: 48px;
  background: linear-gradient(to right, #1a5687, #1a5687);
  color: #FFF;
  font-weight: 700;
  line-height: 48px;
}
/* line 61, ../sass/_card.scss */
.card .card_btn a:hover {
  background: linear-gradient(to right, #1a5687, #1a5687);
}
/* line 64, ../sass/_card.scss */
.card .card_btn a.unSign {
  color: #444;
  background: linear-gradient(to right, #1a5687, #1a5687);
}

/* line 26, ../sass/main.scss */
* {
  box-sizing: border-box;
  font-family: "Helvetica", "微軟正黑體", Arial, Helvetica, sans-serif;
}

/* line 30, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #000;
}

/* line 35, ../sass/main.scss */
body {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
}

/* line 40, ../sass/main.scss */
p {
  margin: 0;
}

/* line 45, ../sass/main.scss */
.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
}
/* line 52, ../sass/main.scss */
.horizontal.divider.style {
  font-size: 18px;
  color: #FFF;
  padding: 10px 0;
}
/* line 57, ../sass/main.scss */
.horizontal.divider:before, .horizontal.divider:after {
  content: ' ';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url("../images/line.png");
}
/* line 66, ../sass/main.scss */
.horizontal.divider:before {
  background-position: right 1em top 50%;
}
/* line 69, ../sass/main.scss */
.horizontal.divider:after {
  background-position: left 1em top 50%;
}

/* line 75, ../sass/main.scss */
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

/* line 82, ../sass/main.scss */
.hovereffect {
  -moz-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -webkit-box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}
/* line 85, ../sass/main.scss */
.hovereffect:hover {
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}
/* line 98, ../sass/main.scss */
.warp {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/background_1440.jpg") center no-repeat;
  background-size: cover;
}
/* line 104, ../sass/main.scss */
.warp:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

/* line 119, ../sass/main.scss */
.form-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 446px;
  z-index: 5;
  padding: 30px 38px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 132, ../sass/main.scss */
.form-signin a, .form-signin p {
  color: #FFF;
}
/* line 135, ../sass/main.scss */
.form-signin .logo {
  height: 59px;
  font-size: 48px;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
/* line 144, ../sass/main.scss */
.form-signin .form-group {
  position: relative;
  margin-bottom: 10px;
}
/* line 147, ../sass/main.scss */
.form-signin .form-group .user-icon {
  display: block;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 6px;
  opacity: .5;
}
/* line 156, ../sass/main.scss */
.form-signin .form-control {
  height: 50px;
  font-size: 18px;
  color: #FFF;
  border: none;
  margin-bottom: 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 163, ../sass/main.scss */
.form-signin .form-control.btn {
  position: relative;
  top: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 168, ../sass/main.scss */
.form-signin .form-control.fb {
  background-color: #5da8ff;
  -moz-box-shadow: 0px 0px 0px 0px #0072f6;
  -webkit-box-shadow: 0px 0px 0px 0px #0072f6;
  box-shadow: 0px 0px 0px 0px #0072f6;
}
/* line 171, ../sass/main.scss */
.form-signin .form-control.fb:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #0072f6;
  -webkit-box-shadow: 0px 6px 0px 0px #0072f6;
  box-shadow: 0px 6px 0px 0px #0072f6;
}
/* line 176, ../sass/main.scss */
.form-signin .form-control.google {
  background-color: #ff8896;
  -moz-box-shadow: 0px 0px 0px 0px #ff223c;
  -webkit-box-shadow: 0px 0px 0px 0px #ff223c;
  box-shadow: 0px 0px 0px 0px #ff223c;
}
/* line 179, ../sass/main.scss */
.form-signin .form-control.google:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #ff223c;
  -webkit-box-shadow: 0px 6px 0px 0px #ff223c;
  box-shadow: 0px 6px 0px 0px #ff223c;
}
/* line 184, ../sass/main.scss */
.form-signin .form-control.input {
  color: #444;
  border: solid 1px #b4b4b4;
  padding-left: 50px;
}
/* line 189, ../sass/main.scss */
.form-signin .form-control.login {
  background-color: #4a90e2;
  -moz-box-shadow: 0px 0px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 0px 0px 0px #1b5dab;
  box-shadow: 0px 0px 0px 0px #1b5dab;
}
/* line 192, ../sass/main.scss */
.form-signin .form-control.login:hover {
  top: -6px;
  -moz-box-shadow: 0px 6px 0px 0px #1b5dab;
  -webkit-box-shadow: 0px 6px 0px 0px #1b5dab;
  box-shadow: 0px 6px 0px 0px #1b5dab;
}
/* line 199, ../sass/main.scss */
.form-signin .forgot a {
  font-size: 14px;
  letter-spacing: .5px;
  padding: 0 6px;
}
/* line 203, ../sass/main.scss */
.form-signin .forgot a:first-child {
  position: relative;
  padding-right: 10px;
}
/* line 206, ../sass/main.scss */
.form-signin .forgot a:first-child:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #FFF;
}
/* line 219, ../sass/main.scss */
.form-signin .join p {
  display: inline;
  letter-spacing: .5px;
}
/* line 223, ../sass/main.scss */
.form-signin .join a {
  font-size: 24px;
  font-weight: bold;
}
