.card {
  display: block;
  position: relative;
  border: 1px solid $color_border;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  &:hover {
    .card_infor_title {
      color: $color01;
    }
  }
  .card_img {
    width: 100%;
    min-height: 226px;
    background: darken($color01, 5%) center center no-repeat;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
    @include pad_under {
      min-height: 180px;
    }
    @include desktop_under {
      min-height: 238px;
    }
    @include bigger_under {
      min-height: 188px;
    }
  }
  .card_infor {
    padding: 20px 10px 40px;
    .card_infor_title {
      height: 70px;
      font-weight: 700;
      line-height: 1.5rem;
      margin: 0;
      padding-bottom: 10px;
      @include transition( .3s all);
    }
    p {
      color: $color_font;
      font-size: .9rem;
      line-height: 1.5rem;
    }
  }
  .card_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    a {
      display: block;
      height: 48px;
      background: linear-gradient(left, $color01, $color01);
      color: #FFF;
      font-weight: 700;
      line-height: 48px;
      &:hover {
        background: linear-gradient(left, $color01, $color01);
      }
      &.unSign {
        color: $color_font;
        background: linear-gradient(left, $color01, $color01);
      }
    }
  }
}
