.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: $headerHeight;
  background: linear-gradient(left, $color01, $color02);
  padding: 2px 0;
  overflow: hidden;
  @include transition(.3s all);
  @include pad_under {
    height: auto;
    padding: 15px 0;
    &.active {
      padding: 5px 0;
      .logo {
        height: 36px;
        img {
          width: 59px;
          height: 36px;
        }
      }
      .eventSearch {
        padding-top: 2px;
      }
    }
  }
  &.toggle {
    height: 214px;
  }
  .logo {
    float: left;
    max-width: 170px;
    height: 50px;
    @include transition(.3s all);
    img {
      @include transition(.3s all);
      display: inline-block;
      width: 64px;
      height: auto;
      padding-top: 6px;
      @include pad_under {
        width: 83px;
        height: 50px;
        padding-top: 0;
      }
    }
    span {
      display: inline-block;
      position: relative;
      bottom: -6px;
      color: #FFF;
      padding-left: 15px;
      margin: 0;
      vertical-align: bottom;
      &::after {
        content: ' ';
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        height: 12px;
        border-left: 2px solid #FFF;
      }
    }
  }
  .eventSearch {
    text-align: right;
    margin-top: 11px;
    @include transition(.3s all);
    .form-group {
      margin-bottom: 0;
    }
    @include pad_under {
      float: right;
      padding-top: 16px;
      margin-top: 0;
    }
  }
}
.navbar-toggle {
  height: 40px;
  color: #FFF;
  background-image: linear-gradient(top, $color03, $color04);
  border: 1px solid $color04;
  margin-right: 0;
  .icon-bar {
    background: #000;
  }
}
