.navbar {
  min-height: 70px;
  margin-bottom: 0;
}
.navbar-default {
  background-image: linear-gradient(to bottom, #ffffff, #cfcfcf);
}
.navbar-nav > li > a {
  line-height: 40px;
}
.navbar-default .navbar-nav > li > a {
  color: #4a4a4a;
  &.opacity {
    opacity: .5;
  }
}
.navbar-default .navbar-brand {
  color: #4a4a4a;
}
.navbar-brand {
  height: 70px;
  font-size: 24px;
  line-height: 40px;
}
