.swiper-container, .swiper-container-glass, .swiper-container-banner, .swiper-container-new, .swiper-container-trending {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #FFF;
  }
  .swiper-pagination-bullet-active {
    background: #FFF;
  }
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: none;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 25px;
  }
  .glyphicon {
    color: #FFF;
    font-size: 40px;
    opacity: .5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    &:hover {
      opacity: 1;
    }
  }
}
.swiper-container-banner {
  height: 400px;
}
.swiper-container-new, .swiper-container-trending {
  height: 302px;
  .swiper-slide {
    border-radius: 5px;
  }
}
.arrivals_right, .arrivals_left, .trending_right, .trending_left {
  position: absolute;
  top: 60%;
  font-size: 24px;
  color: #4a4a4a;
  cursor: pointer;
  opacity: .5;
}
.arrivals_right, .trending_right {
  right: 10px;
}
.arrivals_left, .trending_left {
  left: 10px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  width: 100%;
  overflow: hidden;
  position: relative;

}
.slider_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.slider01 {
    background-image: url("../images/sliders/slider01_1440.jpg");
  }
  &.slider02 {
    background-image: url("../images/sliders/slider02_1440.jpg");
  }
  &.slider03 {
    background-image: url("../images/sliders/slider03_1440.jpg");
  }
  &.slider04 {
    background-image: url("../images/sliders/slider04_1440.jpg");
  }
  &.slider05 {
    background-image: url("../images/sliders/slider05_1440.jpg");
  }
  &.slider06 {
    background-image: url("../images/sliders/slider06_1440.jpg");
  }
  &.slider07 {
    background-image: url("../images/sliders/slider07_1440.jpg");
  }
  &.slider08 {
    background-image: url("../images/sliders/slider08_1440.jpg");
  }
  &.banner01 {background-image: url("../images/banner/01.png");}
  &.banner02 {background-image: url("../images/banner/02.png");}
  &.banner03 {background-image: url("../images/banner/03.png");}
  &.banner04 {background-image: url("../images/banner/04.png");}
  &.banner05 {background-image: url("../images/banner/05.png");}
  &.banner06 {background-image: url("../images/banner/06.png");}
  &.banner07 {background-image: url("../images/banner/07.png");}
  &.banner08 {background-image: url("../images/banner/08.png");}

  &.poster01 {background-image: url("../images/poster/01.png");}
  &.poster02 {background-image: url("../images/poster/02.png");}
  &.poster03 {background-image: url("../images/poster/03.png");}
  &.poster04 {background-image: url("../images/poster/04.png");}
  &.poster05 {background-image: url("../images/poster/05.png");}
  &.poster06 {background-image: url("../images/poster/06.png");}
  &.poster07 {background-image: url("../images/poster/07.png");}
  &.poster08 {background-image: url("../images/poster/08.png");}
  &.poster09 {background-image: url("../images/poster/09.png");}
  &.poster10 {background-image: url("../images/poster/10.png");}
  &.poster11 {background-image: url("../images/poster/11.png");}
  &.poster12 {background-image: url("../images/poster/12.png");}
  &.poster13 {background-image: url("../images/poster/13.png");}
  &.poster14 {background-image: url("../images/poster/14.png");}
  &.poster15 {background-image: url("../images/poster/15.png");}

}
.swiper-slide img {
  position: absolute;
  height: auto;
  top: 0;
  left: 100%;
  margin-left: -768px;
  @include desktop_under {
    left: 50%;
    margin-left: -960px;
  }
}
.swiper-container-glass {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}
