//變數-全域
$web_fontsize: 18px;
$web_font: 'Helvetica','微軟正黑體', Arial, Helvetica, sans-serif;
$color01: #1a5687;
$color_font: #444;
$color_font_alink: #163972;
$color_border: #f2f2f2;

//陰影參數
$shodow_la: 0 15px 30px -5px rgba(0,0,0,0.4);
$shodow_m: 0 0 14px 0 rgba(0,0,0,0.15);
$shodow_nav: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow_S: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
$shadow_L: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


@import "compass/css3";
@import "mixin";
@import "swiper";
@import "card";
@import "nav";



// bootstrap 全域 修改
* {
  box-sizing: border-box;
  font-family: $web_font;
}
html, body {
  width: 100%;
  height: 100%;
  background: #FFF;
}
body {
  font-size: $web_fontsize;
  color: $color_font;
  line-height: 1.8;
}
p {
  margin: 0;
}
h2 {
  text-decoration: none;
}


//分隔線條
.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  &.style {
    font-size: $web_fontsize;
    color: #FFF;
    padding: 10px 0;
  }
  &:before, &:after {
    content: ' ';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/line.png");
  }
  &:before {
    background-position: right 1em top 50%;
  }
  &:after {
    background-position: left 1em top 50%;
  }
}
// 清除浮動
.clearfix {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}
// 滑入效果
.hovereffect {
  @include box-shadow($shadow_S);
  @include transition (box-shadow .25s);
  &:hover {
    @include box-shadow($shadow_L);
    @include transition (box-shadow .25s);
  }
}
//key frame
@keyframes fadeIn {
  0%   {opacity: 1;}
  50%  {opacity: .3;}
  100% {opacity: .6;}
}
//key frame
@keyframes fadeIn_5 {
  0%   {opacity: 0;}
  100% {opacity: .5;}
}
@keyframes fadeIn_10 {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

//基本 layout
.warp {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  // background: url("../images/background_1440.jpg") center no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(3.2px);
  background-color: rgba(255, 255, 255, 0.5);
}
.overhide {
  position: relative;
  overflow: hidden;
}
.slider_range {
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 100px;
}
