//變數-全域
$web_fontsize: 18px;
$web_font: 'Helvetica','微軟正黑體', Arial, Helvetica, sans-serif;
$color01: #1a5687;
$color02: #4a90e2;
$color03: #f0f0f0;
$color_font: #444;
$color_font_alink: #163972;
$color_border: #f2f2f2;

//陰影參數
$shodow_la: 0 15px 30px -5px rgba(0,0,0,0.4);
$shodow_m: 0 0 14px 0 rgba(0,0,0,0.15);
$shodow_nav: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow_S: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
$shadow_L: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


@import "compass/css3";
@import "mixin";
@import "swiper";
@import "card";
@import "nav";



// bootstrap 全域 修改
* {
  box-sizing: border-box;
  font-family: $web_font;
}
html, body {
  width: 100%;
  height: 100%;
  background: #FFF;
}
body {
  font-size: $web_fontsize;
  color: $color_font;
  line-height: 1.8;
}
p {
  margin: 0;
}
h2 {
  text-decoration: none;
}


//分隔線條
.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  &.style {
    font-size: $web_fontsize;
    color: #FFF;
    padding: 10px 0;
  }
  &:before, &:after {
    content: ' ';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/line.png");
  }
  &:before {
    background-position: right 1em top 50%;
  }
  &:after {
    background-position: left 1em top 50%;
  }
}
// 清除浮動
.clearfix {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}
// 滑入效果
.hovereffect {
  @include box-shadow($shadow_S);
  @include transition (box-shadow .25s);
  &:hover {
    @include box-shadow($shadow_L);
    @include transition (box-shadow .25s);
  }
}
//key frame
@keyframes fadeIn {
  0%   {opacity: 1;}
  50%  {opacity: .3;}
  100% {opacity: .6;}
}
//key frame
@keyframes fadeIn_5 {
  0%   {opacity: 0;}
  100% {opacity: .5;}
}
@keyframes fadeIn_10 {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

//基本 layout
.warp {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  // background: url("../images/background_1440.jpg") center no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(3.2px);
  background-color: rgba(255, 255, 255, 0.5);
}
.overhide {
  position: relative;
  overflow: hidden;
}
.slider_range {
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 100px;
}

// buy page
.screen {
  position: relative;
  width: 100%;
  height: 400px;
  background: #000;
  overflow: hidden;
  video {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 400px;
    @include transform(translateX(-50%));
  }
}

.content {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  .left {
    float: left;
    display: block;
    min-height: 550px;
    padding: 0 36px;
    margin-right: 350px;
    .movieBuy {
      width: 100%;
      height: auto;
      padding-bottom: 16px;
      border-bottom: solid 1px #b4b4b4;
      overflow: hidden;
      @include bigger_under {
        height: 80px;
        padding-bottom: 0;
      };
      &>* {
        display: inline-block;
        line-height: 80px;
        padding: 0;
        margin: 0;
        border: none;
        @include bigger_under {
          float: left;
        }
      }
      .movie_name {
        display: block;
        width: calc(100% - 430px);
        max-width: 530px;
        white-space:nowrap;
        overflow: hidden;
        padding-right: 15px;
        line-height: 60px;
        @include bigger_under {
          line-height: 80px;
        };
      }
      #buy {
        position: relative;
        top: 0;
        width: 250px;
        height: 50px;
        color: #FFF;
        background: $color02;
        font-size: 20px;
        line-height: 24px;
        margin-top: 15px;
        @include transition (.1s);
        @include box-shadow(0px 0px 0px 0px darken($color02, 20%));
        &:hover {
          top: -6px;
          @include box-shadow(0px 6px 0px 0px darken($color02, 20%));
        }
      }
      .stars {
        width: 160px;
        text-align: center;
        margin-right: 30px;
        .rating-xs {
          font-size: 1.4em;
        }
      }
    }

    .overview {
      border-bottom: solid 1px #b4b4b4;
      padding-bottom: 14px;
      .title {
        color: #4a4a4a;
        font-size: 36px;
      }
      .read {
        float: right;
        display: inline-block;
      }
      p {
        display: block;
        color: #262626;
        font-size: 20px;
        height: 180px;
        overflow: hidden;
      }
    }
  }
  .recommendations {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    min-height: 550px;
    background: $color03;
    padding: 30px 20px;
    .title {
      font-size: 24px;
      color: #4a4a4a;
      margin: 0;
      padding: 0;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: solid 1px #b4b4b4;
    }
    .mov_view {
      @extend .clearfix;
      margin-bottom: 16px;
      .mov_img {
        position: relative;
        display: block;
        width: 100%;
        height: 200px;
        background: #000;
        margin-bottom: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
        &:hover {
          &:after {
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .5;
            z-index: 3;
          }
        }
        &:after, &:before {
          content: ' ';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:after {
          width: 100%;
          height: 100%;
          background: #000;
          opacity: .7;
          z-index: 3;
          @include transition (all .25s);
        }
        &:before {
          top: 50%;
          left: 50%;
          width: 20px;
          height: 20px;
          background: url('../images/icon/play-1001.svg') no-repeat center center;
          z-index: 5;
          @include transform(translateX(-50%));
          @include transform(translateY(-50%));
        }
      }
      .movie_name {
        display: block;
        float: left;
        font-size: 20px;
        color: #575757;
        margin: 0;
        padding: 0;
      }
      .stars {
        float: right;
      }
      .rating-xs {
        font-size: .8em;
      }
    }
  }
}
