//變數-全域
$web_fontsize: 18px;
$web_font: 'Helvetica','微軟正黑體', Arial, Helvetica, sans-serif;
$color01: #1a5687;
$color_font: #444;
$color_font_alink: #163972;
$color_border: #f2f2f2;

//陰影參數
$shodow_la: 0 15px 30px -5px rgba(0,0,0,0.4);
$shodow_m: 0 0 14px 0 rgba(0,0,0,0.15);
$shodow_nav: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow_S: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
$shadow_L: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


@import "compass/css3";
@import "mixin";
@import "swiper";
@import "card";



// bootstrap 全域 修改
* {
  box-sizing: border-box;
  font-family: $web_font;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  font-size: $web_fontsize;
  color: $color_font;
  line-height: 1.8;
}
p {
  margin: 0;
}

//分隔線條
.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  &.style {
    font-size: $web_fontsize;
    color: #FFF;
    padding: 10px 0;
  }
  &:before, &:after {
    content: ' ';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/line.png");
  }
  &:before {
    background-position: right 1em top 50%;
  }
  &:after {
    background-position: left 1em top 50%;
  }
}
// 清除浮動
.clearfix {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}
// 滑入效果
.hovereffect {
  @include box-shadow($shadow_S);
  @include transition (box-shadow .25s);
  &:hover {
    @include box-shadow($shadow_L);
    @include transition (box-shadow .25s);
  }
}
//key frame
@keyframes fadeIn {
  0%   {opacity: 1;}
  50%  {opacity: .3;}
  100% {opacity: .5;}
}

//基本 layout
.warp {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/background_1440.jpg") center no-repeat;
  background-size: cover;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: .5;
    -webkit-animation: fadeIn 5s;
    animation: fadeIn 5s;
  }
}
.form-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 446px;
  z-index: 5;
  // height: 554px;
  padding: 30px 38px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  @include transform ( translateX(-50%) translateY(-50%) );
  @include border-radius (5px);
  @include box-shadow($shadow_L);
  a, p {
    color: #FFF;
  }
  .logo {
    height: 59px;
    font-size: 48px;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  .form-group {
    position: relative;
    margin-bottom: 10px;
    .user-icon {
      display: block;
      position: absolute;
      z-index: 1;
      left: 20px;
      top: 6px;
    }
  }
  .form-control {
    // position: relative;
    height: 50px;
    font-size: $web_fontsize;
    color: #FFF;
    border: none;
    margin-bottom: 10px;
    @include border-radius (0);
    &.fb {
      background-color: #5da8ff;
    }
    &.google {
      background-color: #ff8896;
    }
    &.input {
      color: $color_font;
      border: solid 1px #b4b4b4;
      padding-left: 50px;
    }
    &.login {
      background-color: #4a90e2;
    }
  }
  .forgot {
    a {
      font-size: $web_fontsize - 4px;
      letter-spacing: .5px;
      padding: 0 6px;
      &:first-child {
        position: relative;
        padding-right: 10px;
        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          border-right: 1px solid #FFF;
        }
      }
    }
  }
  .join {
    p {
      display: inline;
      letter-spacing: .5px;
    }
    a {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
